langchain>=0.3.26
langchain-openai>=0.1.6
llama-index>=0.10.28
python-dotenv
streamlit>=1.26.0
langsmith
langchain-community>=0.0.30
langchain-core>=0.1.48
langserve
langchain_openai>=0.1.6
langchain-groq>=0.1.2
langchain-serpapi>=0.1.2
langchain_community>=0.0.30
langchain_utilities>=0.1.48
